<br>
<div class="ui secondary menu inverted">
    <div class="header item"><img src="/logo.svg" style="width: 100px"></div>

    <div class="right menu">
        <a href="/logout" class="ui item">
            <i class="icon power" style="color: #FE5F55;"></i>&nbsp;&nbsp; Logout
        </a>
    </div>
</div>
<div class="ui divider"></div>
<br>