<!DOCTYPE html>
<html>

<body style="background-color: black;">


    <div style="padding: 30px; background-color: black; color: white;">

        <h1 style="text-align: center;">
            Legal Disclaimer:
        </h1>

        <p>
            
        DISCLAIMER: SOFTWARE INTENDED FOR LEGAL USE ONLY.
        It is illegal to gain unauthorized access to any
        information system or data. The law generally
        requires you to notify owners of the devices,
        on which you intend to install Protonspy. The violation
        of this requirement could result in severe
        monetary and criminal penalties. You are solely
        responsible for installing the software on such devices
        and are aware that Protonspy cannot be held responsible.
        We advise you consult a local legal
        advisor prior to installing and using Protonspy.

        </p>

    </div>


</body>
</html>