<!DOCTYPE html>
<html>

<body style="background-color: black;">


    <div style="padding: 30px; background-color: black; color: white;">

        <h1 style="text-align: center;">
            TERMS OF USE
        </h1>

        <h3 style="text-align: center;padding: 20px;">
            NOTICE TO USER: PLEASE READ THIS CONTRACT CAREFULLY.<br>
            THESE TERMS OF USE ARE BINDING.
            YOU MUST AGREE TO BELOW TERMS OF USE

        </h3>

        <p style="text-align: center;">
            
            Welcome to the Protonspy.com website (hereinafter - the “Site”, “Website”).<br>
            By using the Website and/or Protonspy Services, you agree to be bound by the following Terms of Use. 
            Integral parts of this Terms of Use are below: 
            

        </p>

        <h3 style="text-align: center;">
            END USER LICENSE AGREEMENT and ONLINE TERMS OF USE
        </h3>

        <p style="padding: 40px; text-align: center;">

                    
            THIS END USER LICENSE AGREEMENT ("Agreement") CONSTITUTES A BINDING AGREEMENT BETWEEN YOU THE PURCHASER, AND/OR ANY OTHER THIRD PARTY USING THE SOFTWARE ("USER"), AND PROTONSPY.COM. YOU SHOULD CAREFULLY READ THE FOLLOWING TERMS OF USE BEFORE INSTALLING THIS SOFTWARE. INSTALLATION OF THIS SOFTWARE CONSTITUTES YOUR ACCEPTANCE OF THESE TERMS OF USE. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS OF USE, YOU MUST NOT PURCHASE THE SOFTWARE, OR UNINSTALL THE SOFTWARE IF IT IS ALREADY INSTALLED. USE OF THE SOFTWARE IS STRICTLY PROHIBITED UNLESS YOU AGREE TO BE BOUND BY THE TERMS OF USE OF THIS AGREEMENT. 
            BY ACCEPTING THIS AGREEMENT, YOU AGREE TO ONLY INSTALL THIS SOFTWARE ON A DEVICE OR DEVICES OWNED BY THE USER. USER ALSO AGREES TO INFORM ANY PERSON(S) WHO USES A DEVICE WITH THE SOFTWARE INSTALLED OF THE PRESENCE OF THE SOFTWARE. FAILURE TO COMPLY MAY RESULT IN YOU BREAKING STATE AND FEDERAL LAWS. USER UNDERSTANDS AND AGREES THAT USER SHALL BE RESPONSIBLE FOR ANY LEGAL COSTS INCURRED BY PROTONSPY THAT IS A DIRECT RESULT OF USER'S IMPROPER OR ILLEGAL USE OF THE SOFTWARE. 
            
        

        </p>
        <h3 style="text-align: center;">
            OWNERSHIP OF SOFTWARE
        </h3>

        <p style="padding: 40px; text-align: center;">

            USER acknowledges and agrees that all of the software programs, whether in basic code or usable form, certificates of authenticity, security devices and associated documentation, regardless of form or media, (collectively, the "Software") which are the subject of this Agreement, are owned exclusively by PROTONSPY. USER agrees that the price paid for the Software constitutes a license fee, granting USER only the rights set forth in this Agreement.         

        </p>
        <h3 style="text-align: center;">
            GRANT OF LICENSE
        </h3>

        <p style="padding: 40px; text-align: center;">

            PROTONSPY grants to USER, and USER accepts, a limited, non-exclusive and revocable license to use the Software, in machine-readable, object code form only. USER agrees to use the Software only as authorized in this Agreement. 
            No other rights, either express or implied, are being transferred to the USER unless specifically stated in this Agreement. USER shall not have any right to reproduce, distribute, or otherwise disseminate the Software contrary to the terms of use of this Agreement. USER shall have no right, title, interest or claim as to the property owned by PROTONSPY, which includes but is not limited to, the Software, any patents, trademarks, copyrights, and/or trade-names.                      

        </p>
        <h3 style="text-align: center;">
            SCOPE OF LICENSE
        </h3>

        <p style="padding: 40px; text-align: center;">

            This Software is licensed to be installed and used on only the number of devices included in the package your purchase. 
USER may not copy or make any changes or modifications to the Software, and USER may not engage or participate with any other third party to manufacture, duplicate, deliver, transfer, pirate, translate, decompile, disassemble, or otherwise reverse engineer the Software. USER may not lend, rent, lease or sub-license the Software, in any form, to any other third party for any purpose, unless authorized by this Agreement. USER agrees to use all reasonable efforts to protect the Software from unauthorized use, modification, reproduction, distribution or publication and to report any unauthorized use, modification, reproduction, distribution or publication to PROTONSPY. USER is not permitted to make any copies of the Software. USER shall not use the Software in a manner not authorized by the terms of this Agreement, and PROTONSPY reserves all rights that are not expressly granted herein. 
                    

        </p>
        <h3 style="text-align: center;">
            TRANSFER RESTRICTIONS
        </h3>

        <p style="padding: 40px; text-align: center;">

            USER may not transfer, sell, distribute or otherwise disseminate the Software, without the prior written consent of PROTONSPY.          

        </p>
        <h3 style="text-align: center;">
            USE OF THE SERVICE
        </h3>

        <p style="padding: 40px; text-align: center;">

            In accessing and using your online account ("Service") to review data recorded by the Software, you agree to obey all local, state and federal laws. You may not use the Service in any way: 1) that harms our affiliates, resellers, distributors, and/or vendors (collectively, the "PROTONSPY Parties"), or any other customer of an PROTONSPY Party; 2) to modify or reroute, or attempt to modify or reroute the Service; to damage, disable, overburden, or impair the Service (or the network connected to the Service), or interfere with anyone's use of the Service; 3) to resell or redistribute the Service, or any part of the Service without express written consent of PROTONSPY. 
The USER shall at all times be liable for any fees, penalties, or other costs incurred by PROTONSPY as a result of any use of the Software by any unauthorized person, or by any person making unauthorized use of the Software using any account in the name of the USER.  
                    

        </p>
        <h3 style="text-align: center;">
            STORAGE OF MONITORED DATA
        </h3>

        <p style="padding: 40px; text-align: center;">

            PROTONSPY does not save any of the monitored data. All the monitored data is volatile and not persistent, we do not store any monitored data in our database. If user wants to save the monitored data, he/she may download the monitored data (in their local storage) as soon as it is received by clicking on the download button available.
User agrees that PROTONSPY cannot be held liable in any way for the loss/misuse of monitored data. 
                    

        </p>
        <h3 style="text-align: center;">
            PRIVACY POLICY
        </h3>

        <p style="padding: 40px; text-align: center;">

            PROTONSPY considers your use of the service to be private. However, we may access or disclose information about you, your account, recorded information stored in your account and/or the content of your communications, in order to: (1) comply with the law or legal process served on us; (2) enforce and investigate potential violations of this contract; including use of this service to participate in, or facilitate, activities that violate the law; (3) investigate potential fraudulent activities; or (4) protect the rights, property, or safety of PROTONSPY, its employees, its customers or the public. You consent to the access and disclosures outlined in this section. 

        </p>
        <h3 style="text-align: center;">
            TERM AND TERMINATION
        </h3>

        <p style="padding: 40px; text-align: center;">

This Agreement will become effective upon the date that USER acquires the Software and shall remain in full force and effect for the duration of your subscription. This Agreement and USER'S rights pursuant to this license will terminate automatically without notice from PROTONSPY if USER fails to comply with any provision of the Agreement. If the USER opts to cancel their license, PROTONSPY will then terminate this Agreement and cancel the USER's account. 

        </p>
        <h3 style="text-align: center;">
            LIMITED WARRANTY
        </h3>

        <p style="padding: 40px; text-align: center;">

            PROTONSPY PROVIDES THIS SOFTWARE "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE OR ANY IMPLIED WARRANTY OR CONDITION ARISING FROM COURSE OF DEALING OR USAGE OF TRADE. THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM IS WITH THE USER. PROTONSPY DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE SOFTWARE WILL MEET USER'S REQUIREMENTS OR THAT THE OPERATION OF THE PROGRAM WILL BE UNINTERRUPTED OR ERROR FREE OR THAT PROGRAM DEFECTS WILL BE CORRECTED. 

        </p>
        <h3 style="text-align: center;">
            NEW VERSIONS OF THE SOFTWARE
        </h3>

        <p style="padding: 40px; text-align: center;">

PROTONSPY, in its sole discretion, reserves the right to add additional features or functions, or to provide programming fixes, updates and upgrades, to the Software. 

        </p>
        <h3 style="text-align: center;">
            LIMITATION OF LIABILITY
        </h3>

        <p style="padding: 40px; text-align: center;">

            USER AGREES THAT IN NO EVENT SHALL PROTONSPY, ITS AFFILIATES, DISTRIBUTORS OR RESELLERS BE LIABLE FOR ANY DAMAGES (INCLUDING ANY CAUSED BY NEGLIGENCE), LOSS OF PROFIT OR MISUSE OF SERVICE OR ANY OTHER COMMERCIAL DAMAGE, INCLUDING BUT NOT LIMITED TO SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR OTHER DAMAGES, EVEN IF PROTONSPY OR ITS AFFILIATES ARE ADVISED, IN ADVANCE, OF THE POSSIBILITY OF SUCH DAMAGES. USER AGREES THAT THIS LIMITAITON OF LIABILITY SHALL APPLY EVEN IF ANY REMEDIES FAIL OF THEIR ESSENTIAL PURPOSE. NOTWITHSTANDING THE FOREGOING, USER AGREES THAT IN NO EVENT SHALL THE LIABILITY OF PROTONSPY, ITS AFFILIATES, DISTRIBUTORS OR RESELLERS EXCEED THE PURCHASE PRICE PAID FOR THE SOFTWARE AND/OR THIS LICENSE. 
        </p>
        <h3 style="text-align: center;">
            GOVERNING LAW, JURISDICTION AND VENUE
        </h3>

        <p style="padding: 40px; text-align: center;">

            This Agreement, including any further rules, polices, or guidelines incorporated herein by reference, shall be governed and construed in accordance with the PECA LAWS, PK, without giving effect to any choice of law rules. We make no representation that our Services are appropriate, legal or available for use in other locations.
        </p>
        <h3 style="text-align: center;">
            UPDATES TO THIS AGREEMENT
        </h3>

        <p style="padding: 40px; text-align: center;">

            PROTONSPY reserves the right to change this Agreement at any time by publishing the revised Agreement on the PROTONSPY websites. The revised Agreement shall become effective immediately. USER's express acceptance or USER's continued use of the Software after expiry of old Agreement, shall constitute USER's acceptance to be bound by the terms of use of the updated Agreement. PROTONSPY reserves the right to change any element of this Agreement from time to time and such changes shall become effective either immediately, or within the timeframe set out in the applicable terms, if different. 
        </p>
        <h3 style="text-align: center;">
            COMPLETE AGREEMENT
        </h3>

        <p style="padding: 40px; text-align: center;">

            This Agreement constitutes the entire agreement between the USER and PROTONSPY with respect to the use of the Software and supersedes all prior or contemporaneous understandings regarding such subject matter. PROTONSPY reserves the right to modify this agreement, without notice, at any time. No amendment to or modification of this Agreement will be binding unless in writing and signed by PROTONSPY. If for any reason a court of competent jurisdiction finds any provision, or portion thereof, to be unenforceable, invalid, or illegal, the remainder of this Agreement shall continue in full force and effect and the parties will amend this Agreement to give effect to the stricken clause to the maximum extent possible. 
        </p>
        <h3 style="text-align: center;">
            OTHER TERMS OF USE OF USE
        </h3>

        <p style="padding: 40px; text-align: center;">

            USER agrees that the installation and use of the Software will be in accordance with all local, state and federal laws governing the monitoring of device activity and usage. 
USER agrees to install this software ONLY on a device that is owned by the USER or on a device which USER has been given explicit permission by the device owner for such installation. USER agrees NOT install this Software on any device that is not owned by USER on any device that USER has not been given explicit permission for such installation. 
USER acknowledges that it is prohibited and against the terms of this Agreement NOT to inform any third party that the device they are using is installed with the Software and that their usage is subject to monitoring and recording. 
USER agrees to install this software on Authorize devices only, in case of any unauthorized access to any information system or data, all liabilities will be on USER and PROTONSPY will not be held Liable for any action.
            
        </p>
        <h3 style="text-align: center;">
            REFUND POLICY
        </h3>

        <p style="padding: 40px; text-align: center;">

            PROTONSPY is Prepaid and Non-Refundable Service. If you have purchased PROTONSPY and it does not perform as advertised, please notify us within 72 hours of your purchase. Our customer support staff is available to resolve any issued that you may have. If you have notified us within 72 hours of purchase and our customer support staff is unable to resolve the issue within 3 days of you notifying us, still No Refund will be issued. 
*Please note that you must provide us with reasonable access to resolve your issue and we do not issue refunds for simply changing your mind.
            
        </p>
        <h3 style="text-align: center;">
            Billing – NO REFUNDS:
        </h3>

        <p style="padding: 40px; text-align: center;">

            By starting your PROTONSPY subscription, you are expressly agreeing that we are authorized to charge you an annual or monthly subscription fee at the then published rate, and any other charges you may incur in connection with your use of the service to the payment method you provided during signup. We will automatically bill your payment method each year or month (as subscribed/applicable) on the anniversary of the commencement of you upgrading to a paid subscription. PAYMENTS ARE NON-REFUNDABLE AND THERE ARE NO REFUNDS OR CREDITS FOR PARTIALLY USED PERIODS. YOU ARE FULLY LIABLE FOR ALL CHARGES TO YOUR ACCOUNT AND ACKNOWLEDGE THAT PROTONSPY IS NOT REQUIRED TO PROVIDE A REFUND FOR ANY REASON. 
You may cancel your PROTONSPY subscription at any time. WE DO NOT PROVIDE REFUNDS FOR ANY PARTIAL YEAR SUBSCRIPTION PERIODS. PROTONSPY IS NOT RESPONSIBLE FOR FAILURE TO CANCEL YOUR SUBCRIPTION IF YOU DO NOT PROPERLY FOLLOW THE CANCELLATION PROCEDURES SET FORTH HERIEN. 
For technical issues encountered after you purchase, please contact our support team from within your account. If any specific issue is not resolved within 72 hours, we will gladly extend your subscription for the period of time you were inconvenienced. 
*Third Party applications like Chrome & Firefox may publish updates such that PROTONSPY may become inoperable for unexpected and undefined periods of time. PROTONSPY cannot guarantee 100% up-time for this reason. In the event that service is disrupted by a third party update and lasts for more than a continuous 72 hour period, your PROTONSPY license will be pro-rated and extended out for the amount of time effected by this disruption. Customer must request extension of subscription in writing via a support ticking from within your account within 7 days. 
        </p>
        <h3 style="text-align: center;">
            Compatibility Policy:
        </h3>

        <p style="padding: 40px; text-align: center;">

            This article describes PROTONSPY’s commitment to compatibility of target devices for the Software application installation. 
It also describes how a user may introduce changes to a target device for the Software installation. 
PLEASE READ THE COMPATIBILITY POLICY CAREFULLY BEFORE PLACING AN ORDER FOR SUBSCRIPTION. 
Compatibility Policy provides the following requirements for different target devices and operational systems: 
Requirements for Android smartphones and tablets: 
	•	The target device must be running Android 4.4+; 
	•	The target Android device must be connected to the Internet; 
	•	You need physical access to the device to install PROTONSPY;
	•	You must follow the Guide provided for installation, to ensure 100% efficiency of software.
            
        </p>
        <h3 style="text-align: center;">
            Legal info 
        </h3>

        <p style="padding: 40px; text-align: center;">

            You are aware that before installing the Software you are required to check the compatibility requirements for your target device. In case your device is not compatible with the Compatibility Policy, you may not install and use the Software application and all negative consequences and responsibility will be borne by you. 
        </p>
        <h3 style="text-align: center;">
            Note 
        </h3>

        <p style="padding: 40px; text-align: center;">

            If your target device is compatible with these requirements, we may not guarantee that all the features of PROTONSPY Software under the subscription plan will correctly run on a target device. It may contain bugs, which should be fixed in future updates. 
<br>

*While we make every effort to upgrade to be compatible with new versions of Operating System, PROTONSPY cannot guarantee compatibility with all Android based operating systems. 
            
        </p>
        <h3 style="text-align: center;">
            License Renewals:
        </h3>

        <p style="padding: 40px; text-align: center;">

            To avoid any gaps in coverage we will contact you through email before your license expires. At that time you can choose to renew it by purchasing an extension to your license. 
You can easily cancel your license at any time by closing your account (follow steps below) 
Login  -> Close Account 
*For your security, license cancellation requests are not accepted via phone or live chat. 
            
        </p>
        

    </div>


</body>
</html>