.l-0 {
    height: 0%;
  }
  
  .l-1 {
    height: 10%;
  }
  
  .l-2 {
    height: 20%;
  }
  
  .l-3 {
    height: 30%;
  }
  
  .l-4 {
    height: 40%;
  }
  
  .l-5 {
    height: 50%;
  }

  .l-6 {
    height: 60%;
  }
  
  .l-7 {
    height: 70%;
  }
  
  .l-8 {
    height: 80%;
  }
  
  .l-9 {
    height: 90%;
  }
  
  .l-10 {
    height: 100%;
  }